html {
    background-color: gray;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.form {
    background-color: rgb(200, 200, 200);
    position: relative;
    height: 100%;
    width: 100%;
    visibility: visible;    
}

.ct {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.flx {
    display: flex;
}

.vert {
    flex-direction: row;
}

.of {
    overflow: auto;
}

.cr3 {
    border-color: transparent;
    border-width: 0px;
    border-radius: 3%;
}

.cr5 {
    border-color: transparent;
    border-width: 0px;
    border-radius: 5%;
}

.tr {
    transform: translate(-50%,0);
}

.txs {
    font-size: x-small;
    color: aqua;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.TextContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content:start;
    visibility: visible;
    border: 1px;
}

.TextContainer strong {
    padding-left: 5px;
}

#PicsContainer {
    background-color: yellow;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#PicsContainer a {
    padding-left: 5px;
}

#PicsPanel {
    background-color: blue;
    background-color: rgb(255, 255, 255);
}

#lll {
    background-color: gray;
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 8px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 2px;
}

.pd5 {
    padding-left: 5px;
}

.centerInside {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    visibility: visible;
}